<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>KURSACH</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <header>
        <nav class="nav nav-tabs nav-justified">
            <a class="nav-item nav-link active" href="/">Главная</a>
            <a class="nav-item nav-link" href="/user">Пользователи</a>
            <a class="nav-item nav-link" href="/zakaz">Заказы</a>
            <a class="nav-item nav-link" href="/sotr">Сотрудники</a>
            <a class="nav-item nav-link" href="/harakt">Характеристики</a>
            <a class="nav-item nav-link" href="/coffee">Товары</a>
        </nav>
    </header>

</body>
</html>